{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Formulario de persona {% endblock title %}

{% block bodyclass %} hold-transition sidebar-mini {% endblock bodyclass %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Creación de persona</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Creación de persona</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-6">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Datos de persona</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form method="post">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="inputDNI">DNI</label>
                                    <input type="number" name="dni" class="form-control" id="inputDNI"
                                        placeholder="Documento nacional de identidad">
                                </div>
                                <div class="form-group">
                                    <label for="inputNombre">Nombre</label>
                                    <input type="text" name="name" class="form-control" id="inputNombre"
                                        placeholder="Nombre">
                                </div>
                                <div class="form-group">
                                    <label for="inputApellido">Apellido</label>
                                    <input type="text" name="surname" class="form-control" id="inputApellido"
                                        placeholder="Apellido">
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Crear</button>
                            </div>
                        </form>

                    </div>
                    <!-- /.card -->

                    <!-- /.card -->
                    <!-- Horizontal Form -->
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

{% endblock content %}

{% block extra_scripts %}
<!-- bs-custom-file-input -->
<script src="{% static 'plugins/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
<!-- Page specific script -->
<script>
    $(function () {
        bsCustomFileInput.init();
    });
</script>
{% endblock extra_scripts %}